<template name="appointmentEdit">
	<div id="appointmentEdit" class="">
	  	<h4 class="title">Add New Booking</h4>
			{{> insertAppointmentForm}}
	</div>
</template>

<template name="insertAppointmentForm">
	{{#autoForm collection=appointmentList doc=currentDoc id="insertAppointmentFormInner" type=currentType}}
	<div class="body">
		<div class="alert " style="display:none;" id="insertSuccessAlert" role="alert"></div>
		<fieldset>
			<h6>New appointment for {{currentDate}}</h6>
			{{> afQuickField name='lastname'}}
			{{> afQuickField name='firstname'}}
			{{> afQuickField name='time' value=timePreset template='bootstraptimepicker'}}
			{{> afQuickField name='phone'}}
			{{> afQuickField name='notes' rows=2}}
			{{> afQuickField name='length' step=5 value=length}}
			{{> afFieldInput name='date' value=sessionDate type="hidden"}}
		</fieldset>
	</div>
	<div class="footer">
		<button type="button" class="btn btn-default pull-left" id="closeBookingEditor">Close</button>
		<button type="submit" class="btn btn-primary pull-right" id="saveAppointChanges">Save changes</button>
	</div>
	{{/autoForm}}
</template>