 <template name="appointmentItem">
	<div class="tableItem appointmentItem bg-primary {{itemHighlightClass}}" data-id={{_id}} style={{appointmentStyle}}>
		<h5 class="tableItemData"><span class="glyphicon glyphicon-user"></span>
			{{firstname}} {{lastname}}</h5>{{{inbetween}}}
		<p class="tableItemData"><span class="glyphicon glyphicon-time"></span>
			{{time}} - {{length}} minutes</p>
		{{#if phone}}
			{{{inbetween}}}
			<p class="tableItemData">
				<span class="glyphicon glyphicon-earphone"></span>
				{{phone}}
			</p>
		{{/if}}
		{{#if notes}}
			{{{inbetween}}}
			<p class="tableItemData"><span class="glyphicon glyphicon-info-sign"></span>
			{{notes}}</p>
		{{/if}}
	</div>
</template>
