<template name="bookingTable">
	<div id="bookingTable">
		<h2 class="dayDisplay">{{day}}</h2>
		<ul class="nav nav-tabs" role="tablist">
			{{#each providerNames}}
				<li class="{{selected}}"><a data-id={{_id}} class="providerTab"  href="#">{{name}}
					</a></li>
			{{/each}}
		</ul>
		<div id="bookingTableWrapper">
			<table class="table">
				<thead>
					<tr>
						<th>
							Time
						</th>
						<th>
							Appointments
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each times}}
						{{> timeRow}}
					{{/each}}
					{{#each appointments}}
						{{> appointmentItem}}
					{{/each}}
				</tbody>

			</table>
		</div>
	</div>
</template>

<template name="timeRow">
	<tr class="timeRow">
		<td class="rowHeader">{{time}}</td>
		<td class="rowContent"></td>
	</tr>
</template>

 <template name="appointmentItem"><!--TODO: set display of each field to optional. -->
	<div class="appointmentItem bg-primary" data-id={{_id}} style="width:{{width}};
												   max-height:{{height}};
													   height:{{height}};
												   left:{{left}};
												   top:{{top}};">
		<h5 class="appointmentItemData"><span class="glyphicon glyphicon-user"></span>
			{{appointmentName}}</h5>{{{inbetween}}}
		<p class="appointmentItemData"><span class="glyphicon glyphicon-time"></span>
			{{appointmentTime}} - {{appointmentLength}} minutes</p>{{{inbetween}}}
		<p class="appointmentItemData"><span class="glyphicon glyphicon-earphone"></span>
			{{appointmentPhone}}</p>
	</div>
</template>