<template name="bookingTable">
	{{#if loggedIn}}
	<div id="bookingTable">
		<!-- <div class="row">
			<div class="" -->
		<h2 class="dayDisplay pull-left">{{day}}</h2>
		<h2 class="pull-right">{{notes}}</h2>
		<!-- </div> -->
		<ul class="nav nav-tabs" role="tablist">
			{{#each providerNames}}
				<li class="{{selected}}"><a data-id={{_id}} class="providerTab"  href="#">{{name}}
					</a></li>
			{{/each}}
		</ul>
		<div id="bookingTableWrapper" style="height:700px; overflow-y:auto;">
			<table class="table">
				<thead>
					<tr>
						<th>
							Time
						</th>
						<th>
							Appointments
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each times}}
						{{> timeRow}}
					{{/each}}
					{{#each appointments}}
						{{> appointmentItem}}
					{{/each}}
				</tbody>

			</table>
		</div>
		<div class="pull-right" id="customTimeChanger">
			<button type="button" style="{{buttonStyle}}" id="customTimesButton" class="btn">Set Custom Times</button>
			{{#if unusualDays}}
				{{#autoForm collection="unusualDays" id="changeDayTimes"
				doc=todaysUnusualTimes type="update" autosave=true class="form-inline"}}
					<div class="form-group">
					{{> afQuickField name="startTime" style="width: 75px"}}
					{{> afQuickField name="endTime" style="width: 75px"}}
					{{> afQuickField name="appointmentLength" step=5 style="width: 75px"}}
					{{> afQuickField name="notes" }}
					<button type="button" id="deleteCustomTimes" class="btn form-control btn-danger">Delete Custom Times</button>
					</div>
				{{/autoForm}}
			{{/if}}
		</div>
	</div>
	{{/if}}
</template>

<template name="timeRow">
	<tr  class="timeRow {{rowHighlightClass}}">
		<td class="rowHeader">{{time}}</td>
		<td id={{rowTimeId}} class="rowContent"></td>
	</tr>
</template>

 <template name="appointmentItem"><!--TODO: set display of each field to optional. -->
	<div class="appointmentItem bg-primary {{itemHighlightClass}}" data-id={{_id}} style="width:{{width}};
												   max-height:{{height}};
													   height:{{height}};
												   left:{{left}};
												   top:{{top}};">
		<h5 class="appointmentItemData"><span class="glyphicon glyphicon-user"></span>
			{{appointmentName}}</h5>{{{inbetween}}}
		<p class="appointmentItemData"><span class="glyphicon glyphicon-time"></span>
			{{appointmentTime}} - {{appointmentLength}} minutes</p>{{{inbetween}}}
		<p class="appointmentItemData"><span class="glyphicon glyphicon-earphone"></span>
			{{appointmentPhone}}</p>
	</div>
</template>
