.timeRow {
	height:30px;
}
.rowHeader {
	width:6em;
}
#bookingTableWrapper {
	position:relative;
}
.nav-tabs {
	clear:both;
}
#deleteCustomTimes {
	margin-top: -10px;
	opacity:0.25;
}
#customTimeChanger {
	margin-top: 10px;
}
