.tableItem {
	position: absolute;
	overflow:hide;
	margin-left:10px;
	padding-left:5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.tableItemData {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.being-edited {
	/*box-shadow: 0px 0px 6px 0px #428BCA;*/
	background-color: #E13F33;
	animation: editing 2s infinite;
	-webkit-animation: editing 2s infinite;
}

@keyframes editing {
	0%, 100% { box-shadow:0px 0px 6px 0px #E13F33; }
	50% {box-shadow: 0px 0px 6px 5px #E13F33;}
}
@-webkit-keyframes editing {
	0%, 100% { box-shadow:0px 0px 6px 0px #E13F33; }
	50% {box-shadow: 0px 0px 6px 5px #E13F33;}
}