<template name="userList">
	<div class="row">
		{{#if userIsAdmin}}
		<div class="col-md-4">
			<div class="list-group">
			
				{{#each userList}}
				<a href="#" data-id={{_id}}
				   class="list-group-item userName">{{username}}
					<button class="userDeleteButton btn btn-danger pull-right">
						Delete</button></a>
				{{/each}}
				
			</div>
			<button id="newUserButton" class="btn btn-primary">New User</button>
		</div>
		{{/if}}
		<div class="col-md-8">{{> userEdit}}</div>
	</div>
</template>

<template name="userEdit">
	{{provoptions}}
	{{# autoForm collection=usercoll doc=editingUser id="updateUserForm" type="update"}}
			<fieldset>
			{{> afQuickField name='username'}}
			{{> afQuickField name='emails'}}
			{{> afQuickField name='roles' }}
			{{> afQuickField name='profile' }}
			{{#if isProvider}}
				{{> afQuickField name='providerName' options=provOptions}}
			{{/if}}
			<button type="submit" class="btn btn-primary" id="saveAppointChanges">Save changes</button>
				<div class="form-group">
					<label>Change Password</label><br/>
					<input type="password" id="changePasswordForm" class="form-control"/><button type="button" id="changePasswordButton" class="btn btn-primary">Change</button>
				</div>
		</fieldset>
	{{/autoForm}}
</template>