<!-- <template name="afQuickField_bootstraptimepicker">
<!-- 	<label for="{{this.name}}">{{afFieldLabelText name=this.name}}</label>

		<input type='text' value='{{this.value}}' {{atts}} class='form-control aftimecontrol' />
		<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>

	</div>
</template> -->
<template name="afInputTimePicker">
    <div class='input-group date' id='datetimepicker4'>
      <input type='text' value='{{this.value}}' {{this.atts}} class='form-control aftimecontrol'/>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
      </span>
    </div>
</template>