<template name="providerEdit">
	{{# autoForm collection="providers" doc=editingProvider id="updateProviderForm" type="update"}}
			<fieldset>
			<!-- <h6>New appointment for {{currentDate}}</h6> -->
			{{> afQuickField name='name'}}
			{{> afQuickField name='startTime'}}
			{{> afQuickField name='endTime'}}
			{{> afQuickField name='appointmentLength' step=5}}
			{{> afQuickField name='blockouts'}}
			<button type="submit" class="btn btn-primary" id="saveAppointChanges">Save changes</button>
		</fieldset>
	{{/autoForm}}
</template>